<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <div>
      <%= f.email_field :email, :autofocus => true , placeholder:'Email' %>
    </div>
    <div>
      <%= f.password_field :password , placeholder:'Password'%>
    </div>

    <% if devise_mapping.rememberable? -%>
        <label class="checkbox">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </label>
    <% end -%>
    <div><%= f.submit "Sign in", class: 'btn btn-medium btn-primary' %></div>

<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
<% end -%>
