<script>
    $(function() {
        $( "#expenseDate" ).datepicker();
        $("#expense_contributor_tokens").tokenInput("/users.json", {
            crossDomain: false
        });
    });
</script>
<div class="page-header">
  <h1>New Expense</h1>
</div>

<%= form_for @expense do |f| %>
    <%= f.label :name, 'Title' %>
    <%= f.text_field :name %>
    <%= f.label :expense_date, 'Expense Date' %>
    <%= f.text_field :expense_date, id: 'expenseDate', placeholder: 'mm/dd/yyyy' %>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 3, cols: 50 %>
    <%= f.label :amount %>
    <div class="input-prepend">
      <span class="add-on">$</span>
      <%= f.number_field :amount, class: 'input-mini' %>
    </div>
    <%= f.label :contributor_tokens, 'Contributors' %>
    <%= f.text_field :contributor_tokens %>
    <div>
      <%= f.submit 'Create Expense', class: 'btn btn-primary' %>
    </div>

<% end %>
