<div class="hero-unit">
  <h1> <%= @expense.name  %></h1>
  <p><%= @expense.description %></p>

</div>
<p>Created <%= distance_of_time_in_words_to_now @expense.created_at %> ago</p>
<p>Amount: <%= number_to_currency @expense.amount %></p>

<% if @expense.contributors.any?%>
<h2>Contributors</h2>
    <% @expense.splits.each do |split| %>
        <p><%= split.contributor.name %> owes <%= number_to_currency split.amount %></p>
    <% end %>
<% end %>
