<div class="page-header">
  <h1> <%= @expense.name  %></h1>
  <small>Created <%= time_ago_in_words @expense.created_at %> ago</small>
</div>
Amount: $<%= @expense.amount %>
<!--<form class="form-search">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">Search</button>
</form>-->

<%= form_tag users_path, method: :get, class: 'form-search', id: 'contributor_search' do %>
    <%= text_field_tag :search, params[:search], class: 'search-query' %>
    <%= submit_tag "Search", class: 'btn', name: nil %>
<% end %>
<div id="contributorSearchResults">
  <%= render 'users/users' %>
</div>