<!DOCTYPE html>
<html>
<head>
  <title>DutchRailsMobile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<%= stylesheet_link_tag "/jqtouch/themes/css/apple.css" %>-->
  <%= stylesheet_link_tag "/jqtouch/themes/css/jqtouch.css" %>
  <%= javascript_include_tag "/jqtouch/src/lib/zepto.min.js", "/jqtouch/src/jqtouch.min.js", "mobile" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="jqt" class="supports3d portrait">
      <div id="home" class="current">
        <%= render 'layouts/navbar' %>
        <%= yield %>
      </div>
    </div>
</body>

</html>
